[submodule "linux/ps4-kexec-672"]
	path = linux/ps4-kexec-672
	url = https://github.com/sleirsgoevy/ps4-kexec
[submodule "linux/ps4-kexec-702"]
	path = linux/ps4-kexec-702
	url = https://github.com/sleirsgoevy/ps4-kexec
[submodule "linux/ps4-kexec-755"]
	path = linux/ps4-kexec-755
	url = https://github.com/sleirsgoevy/ps4-kexec
