[submodule "src/payloads/linux/ps4-kexec"]
	path = src/payloads/linux/ps4-kexec
	url = https://github.com/ethylamine/ps4-kexec
[submodule "PS4-webkit-exploit-7.02"]
	path = PS4-webkit-exploit-7.02
	url = https://github.com/sleirsgoevy/PS4-webkit-exploit-7.02
